<!DOCTYPE html>
<html>

<head>
    <title>OcNOS Config Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <form method="POST" id="configForm">
        <div class="vendor-select">
            <select name="vendors" id="select-vendors"
                class="{% if request.form.get('vendors') == 'Junos' %}junos{% else %}ocnos{% endif %}">
                <option value="OcNOS" {% if request.form.get('vendors')=='OcNOS' %}selected{% endif %}>OcNOS</option>
                <option value="BR9k" {% if request.form.get('vendors')=='BR9k' %}selected{% endif %}>BR9k</option>
                <option value="Cisco" {% if request.form.get('vendors')=='Cisco' %}selected{% endif %}>Cisco</option>
                <option value="Junos" {% if request.form.get('vendors')=='Junos' %}selected{% endif %}>Junos</option>
            </select>
            <input type="text" name="hostname" value="{{ request.form.hostname }}" placeholder="Hostname">
        </div>

        <table>
            <tr>
                <th>interface</th>
                <th>IP address</th>
                <th>isis</th>
                <th>mpls</th>
                <th>rsvp</th>
            </tr>
            <tr>
                <td><input type="text" name="lo" id="inp-lo" value="{{ request.form.lo }}" style="width: 100%;"></td>
                <td><input type="text" name="ip0" value="{{ request.form.ip0 }}" placeholder="1.1.1.1/32"
                        style="width: 100%;"></td>
                <td><input type="checkbox" name="ch-isis_0" value="1" {% if request.form.get('ch-isis_0') %}checked{%
                        endif %}></td>
                <td><input type="checkbox" name="ch-mpls_0" value="1" {% if request.form.get('ch-mpls_0') %}checked{%
                        endif %}></td>
                <td><input type="checkbox" name="ch-rsvp_0" value="1" {% if request.form.get('ch-rsvp_0') %}checked{%
                        endif %}></td>
            </tr>
            <tr>
                <td><input type="text" name="intf1" value="{{ request.form.intf1 }}" placeholder="Interface #1"
                        style="width: 100%;"></td>
                <td><input type="text" name="ip1" value="{{ request.form.ip1 }}" style="width: 100%;"></td>
                <td><input type="checkbox" name="ch-isis_1" value="1" {% if request.form.get('ch-isis_1') %}checked{%
                        endif %}></td>
                <td><input type="checkbox" name="ch-mpls_1" value="1" {% if request.form.get('ch-mpls_1') %}checked{%
                        endif %}></td>
                <td><input type="checkbox" name="ch-rsvp_1" value="1" {% if request.form.get('ch-rsvp_1') %}checked{%
                        endif %}></td>
            </tr>
            <tr>
                <td><input type="text" name="intf2" value="{{ request.form.intf2 }}" placeholder="Interface #2"
                        style="width: 100%;"></td>
                <td><input type="text" name="ip2" value="{{ request.form.ip2 }}" style="width: 100%;"></td>
                <td><input type="checkbox" name="ch-isis_2" value="1" {% if request.form.get('ch-isis_2') %}checked{%
                        endif %}></td>
                <td><input type="checkbox" name="ch-mpls_2" value="1" {% if request.form.get('ch-mpls_2') %}checked{%
                        endif %}></td>
                <td><input type="checkbox" name="ch-rsvp_2" value="1" {% if request.form.get('ch-rsvp_2') %}checked{%
                        endif %}></td>
            </tr>
            <tr>
                <td><input type="text" name="intf3" value="{{ request.form.intf3 }}" placeholder="Interface #3"
                        style="width: 100%;"></td>
                <td><input type="text" name="ip3" value="{{ request.form.ip3 }}" style="width: 100%;"></td>
                <td><input type="checkbox" name="ch-isis_3" value="1" {% if request.form.get('ch-isis_3') %}checked{%
                        endif %}></td>
                <td><input type="checkbox" name="ch-mpls_3" value="1" {% if request.form.get('ch-mpls_3') %}checked{%
                        endif %}></td>
                <td><input type="checkbox" name="ch-rsvp_3" value="1" {% if request.form.get('ch-rsvp_3') %}checked{%
                        endif %}></td>
            </tr>
            <tr>
                <td><input type="text" name="intf4" value="{{ request.form.intf4 }}" placeholder="Interface #4"
                        style="width: 100%;"></td>
                <td><input type="text" name="ip4" value="{{ request.form.ip4 }}" style="width: 100%;"></td>
                <td><input type="checkbox" name="ch-isis_4" value="1" {% if request.form.get('ch-isis_4') %}checked{%
                        endif %}></td>
                <td><input type="checkbox" name="ch-mpls_4" value="1" {% if request.form.get('ch-mpls_4') %}checked{%
                        endif %}></td>
                <td><input type="checkbox" name="ch-rsvp_4" value="1" {% if request.form.get('ch-rsvp_4') %}checked{%
                        endif %}></td>
            </tr>
        </table>

        <div style="margin-top: 20px;">
            <button type="submit" class="btn-submit">Generate</button>
            <button type="button" class="btn-clear" onclick="clearForm()">Clear</button>
        </div>
    </form>

 {% if result %}
    <h2>Result:</h2>
    <pre id="result">{{ result }}</pre>
 {% endif %}

    <script src="{{ url_for('static', filename='js/script.js') }}">
    </script>
</body>

</html>
